/*   category  */

.category {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(560px, 1fr));
   gap: 20px;
   padding: 100px 0;
}

.banner {
   position: relative;
   cursor: pointer;
   p {
      position: absolute;
      left: 0;
      top: 26px;
      color: $grey;
      font-family: $latob;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.45px;
      line-height: normal;
      background-color: $white;
      padding: 16px 18px;
      span {
         color: $red;
         font-size: 30px;
         letter-spacing: 0.75px;
         line-height: normal;
      }
   }
}

.ban1 {
   grid-row: 1/3;
}

.ban4 {
   grid-row: 2/4;
}

/*   products  */

.products {
   padding: 0 0 125px;
   text-align: center;
}

.products-title {
   color: $grey;
   font-family: $lato;
   font-size: 30px;
   font-weight: 700;
   letter-spacing: 0.75px;
}

.products-text {
   color: #9f9f9f;
   font-family: $lato;
   font-size: 14px;
   line-height: 40px;
   letter-spacing: 0.35px;
}

.products-carts {
   display: grid;
   grid-template-columns: repeat(auto-fill, 261px);
   grid-gap: 39px 30px;
   margin: 40px 0 70px;
}

.product {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: left;
   cursor: pointer;
   &-info {
      padding: 0 14px;
   }
   h4 {
      color: $grey;
      font-family: $lato;
      font-size: 13px;
      text-transform: uppercase;
      padding: 19px 0 17px;
   }
   .product_price {
      color: $red;
      font-family: $lato;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 20px;
   }
   img {
      width: 100%;
      height: 280px;
   }
}

.product_hover {
   display: none;
   position: absolute;
   border: 1px solid $white;
   align-items: center;
   padding: 7px 10px;
   cursor: pointer;
   color: $white;
   font-family: $lato;
   font-size: 13px;
   font-weight: 700;
   span{
      padding-left: 8px;
      line-height: 40px;
   }
}

.more {
   padding: 14px 23px;
   color: $white;
   background: $red;
   font-family: $lato;
   font-size: 16px;
   font-weight: 700;
   line-height: 54px;
   text-align: center;
   letter-spacing: 0.4px;
   line-height: normal;
   .fa-long-arrow-alt-right {
      padding-left: 9px;
   }
}

/*   feature  */

.features {
   display: flex;
   padding-bottom: 97px;
   .feature_img {
      position: relative;
      max-width: 767px;
      img {
         height: 100%;
         width: 100%;
      }
      .sale {
         position: absolute;
         top: 130px;
         left: 39px;
         color: $white;
         font-family: $lato;
         h3 {
            font-size: 54px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            line-height: normal;
         }
         span {
            color: $red;
            letter-spacing: 1.5px;
            line-height: normal;
         }
         p {
            font-size: 32px;
            letter-spacing: 0.9px;
            line-height: normal;
         }
      }
   }
}

.feature {
   background: #222224;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   padding: 47px 36px 55px 37px;
}

.feature-form {
   position: relative;
   text-align: left;
   max-width: 300px;
   padding-bottom: 50px;
   &:last-child {
      padding-bottom: 0;
   }
   svg {
      position: absolute;
   }
   div {
      padding-left: 78px;
      h3 {
         padding: 5px 0 11px;
         color: #fbfbfb;
         font-family: $lato;
         font-size: 20px;
         font-weight: 700;
         letter-spacing: 0.5px;
         line-height: normal;
      }
      p {
         color: #fbfbfb;
         font-family: $lato;
         font-size: 14px;
         font-weight: 300;
         letter-spacing: 0.35px;
         line-height: 23px;
      }
   }
}

/* subscribe */

.section_wrapper {
   background: url(../img/sub_bg.jpg) bottom no-repeat;
   background-size: cover;
}

.section_subscribe {
   background: rgba(244, 244, 244, 0.7);
}

.subscribe {
   display: flex;
   justify-content: space-between;
}

.sibscribe_info {
   padding: 111px 0 156px;
   text-align: left;
   color: #222224;
   max-width: 500px;
   position: relative;
   img {
      position: absolute;
      top: 111px;
      left: 0;
   }
   div {
      padding-top: 7px;
      padding-left: 111px;
      p {
         color: #222224;
         font-family: $lato;
         font-size: 16px;
         font-style: italic;
         line-height: 26px;
         letter-spacing: 0.4px;
      }
      h3 {
         padding-top: 7px;
         color: $red;
         font-size: 16px;
         font-family: $latob;
         letter-spacing: 0.4px;
         line-height: 20px;
      }
      h5 {
         color: #222224;
         font-family: $latol;
         font-size: 12px;
         font-weight: 300;
         letter-spacing: 0.3px;
         line-height: 14px;
      }
   }
   span {
      content: "";
      display: inline-block;
      cursor: pointer;
      width: 38px;
      height: 4px;
      background-color: #d6d6d6;
   }
   span {
      position: relative;
      left: 112px;
      top: 41px;
      margin-right: 9px;
      &:last-child {
         margin-right: 0;
      }
   }
   .active_span {
      background-color: $red;
   }
}

.sibscribe_form {
   padding: 134px 0 156px;
   margin-left: 70px;
   border-left: 1px solid $white;
   align-self: center;
   text-align: center;
   flex-grow: 1;
   font-family: $lato;
   h3 {
      color: #222224;
      font-size: 24px;
      letter-spacing: 0.6px;
      line-height: 40px;
      text-transform: uppercase;
   }
   p {
      font-size: 14px;
      padding-bottom: 25px;
      letter-spacing: 0.35px;
      line-height: 24px;
   }
}

.form {
   display: flex;
   justify-content: center;
   input {
      padding: 16px 85px 16px 28px;
      border-radius: 23px 0 0 23px;
      background-color: #e1e1e1;
      border: 1px solid #e1e1e1;
      &::placeholder {
         opacity: 0.67;
         color: #222224;
         font-family: $lato;
         font-size: 14px;
         font-weight: 400;
         line-height: 54px;
         letter-spacing: 0.35px;
         line-height: normal;
      }
   }
   button {
      color: $white;
      padding: 16px 18px;
      background: $red;
      border-radius: 0 23px 23px 0;
      font-family: $lato;
      font-size: 14px;
      letter-spacing: 0.35px;
   }
}

/* media */

@media (min-width: 768px) {
   .product:hover {
      .product_hover {
         display: block;
      }
      img {
         filter: brightness(0.2);
         transition: 0.2s linear;
      }
   }

   .product:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
      transition: all 0.1s linear;
      .stars::after {
         content: "\2605\2605\2605\2605\2605";
         color: #e4af48;
         font-size: 20px;
         line-height: 0px;
         letter-spacing: -1px;
         padding-left: 103px;
      }
   }

   .more:hover {
      background: $white;
      border: 1px solid #ff6a6a;
      color: $red;
      transition: 0.2s linear;
   }

   .product_hover .addToCart:hover {
      border: 1px solid $red;
      transition: 0.2s linear;
      span {
         transition: 0.2s linear;
         color: $red;
      }
      path {
         transition: 0.2s linear;
         fill: $red;
      }
   }

   .form {
      input:hover {
         border: 1px solid #979696;
      }
      input:focus {
         border: 1px solid #979696;
      }
      button:hover {
         background: #b3525f;
      }
   }

   .banner:hover {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
   }
}
